/*general*/
@font-face{
    font-family: "SF-Cartoonist";
    src: url(SF_Cartoonist_Hand-webfont.ttf) format('truetype'),
         url(SF_Cartoonist_Hand-webfont.woff) format('woff'),
         url(SF_Cartoonist_Hand-webfont.svg) format('svg');
}
body{
    font-family: 'SF-Cartoonist';
    font-size: x-large;
    padding: 0;
    margin: 0;
}
h1,h2{
    font-weight: bold;
    display: inline;
}
h1{
    font-size: 42px;
}
h2{
    font-size: 28px;
}
header{
    background-color: #7451eb;
    color: white;
    padding-bottom: 55px;
}
footer{
    text-align: justify;
    background-color: #003668;
    color: white;
}
mark{
    background-color: #00eda2;
    color: #003668;
}
p{
    text-align: justify;
}
/*section-description*/
#container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    margin-left: 150px;
    margin-right: 150px;
    padding: 50px;
}
.description:nth-child(2){
    padding-top: 55px;
    margin-bottom: 45px;
    margin-left: 50px;
}
.description:nth-child(1){
    margin-top: 45px;
}
/*section-skills*/
#container-skills{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}
.skills:nth-child(1){
    padding-top: 55px;
}
.skills:nth-child(2){
    width: 60%;
    margin-top: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
}
/*footer*/
#container-contact{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 150px;
    padding: 50px;
}
.contact:nth-child(1){
    margin-top: 40px;
    margin-bottom: 70px;
}
.contact:nth-child(2){
    margin-bottom: 70px;
}
.img-contact{
    width: 45px;
    height: 45px;
}
